# Confluent Cloud Configuration
# Fill in your actual values and remove the .sample extension

# Authentication - Option 1: API Keys (Recommended for automation)
bootstrap.servers=pkc-ep9mm.us-east-2.aws.confluent.cloud:9092
cloud.rest.url=https://pkc-ep9mm.us-east-2.aws.confluent.cloud:443
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.mechanism=PLAIN
# This is the Kafka key ( not cloud key), used to create kafka topics
sasl.username=OH42NWANGE6X7LMF
sasl.password=f0UDDa2ftwmIVrHizi9I7ivuFYwdi+JfLL7KzIEagM27DmdlbP02Gwcm/OyPQtif

# SASL JAAS Configuration for Kafka AdminClient
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="OH42NWANGE6X7LMF" password="f0UDDa2ftwmIVrHizi9I7ivuFYwdi+JfLL7KzIEagM27DmdlbP02Gwcm/OyPQtif";

# THis is the cloud key, used to create service accounts, keys/secrets 
confluent_cloud_key=ZTEZJSUSBARPVRYG
confluent_cloud_secret=3OVNIiyDZdJvhySS0l3s+2ZWyQfBWuI0IyvxD6d/J5khL3Ymy3i54aLTPJrSSzDL


# Confluent Cloud Environment and Cluster Details
confluent.cloud.organization=fff39d13-91b7-444b-baa6-c0007e80e4d5
confluent.cloud.environment=env-7qv2p
confluent.cloud.cluster=lkc-y316j



# Optional: Schema Registry (if needed)
schema.registry.url=https://psrc-j55zm.us-central1.gcp.confluent.cloud
schema.registry.basic.auth.user.info=YS2GR32FBEYZNIHX:zXDGvyZyA8Abwina0jnnK0sgYTHrQvOA9iHll6zxm+T0aujL0IzxTK1kYGiHDKSD



# Authentication - Option 2: OAuth (for interactive use)
# security.protocol=SASL_SSL
# sasl.mechanisms=OAUTHBEARER
# sasl.login.callback.handler.class=org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
# sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
#   clientId="YOUR_CLIENT_ID" \
#   clientSecret="YOUR_CLIENT_SECRET" \
#   scope="YOUR_SCOPE";





# Optional: Confluent CLI Authentication
# confluent.cli.home=/path/to/.confluent
# confluent.organization.id=YOUR_ORG_ID
# confluent.user.email=your.email@company.com

# SSL Configuration (usually not needed for Confluent Cloud)
# ssl.endpoint.identification.algorithm=https

## TODO
## SR 
## DevReadWrite is not showing up but rather read and DevReadWrite
## add new principal and try again
